# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/build/
**/.cxx/

# macOS
macos/Pods/

# Logs
*.log

# IDE
.idea/
.vscode/

# Xcode
DerivedData/
*.xcworkspace
!ios/Runner.xcworkspace

# Temporary
*.tmp
*.temp
.DS_Store
*.icloud
lib-1.0.0-live/
lib-new-corex/

# Signing secrets
android/key.properties
*.jks
*.keystore
